### THT

# THT app
**/data/temp/cache/**
**/data/temp/sessions/**
**/data/counter/**


### Common
*.bak
*.tmp

### Linux
*~

# KDE
.directory

# Vim
.swap
.swp

### MacOS
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*

### Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
*.lnk

### JetBrains IDEs
*.iml
.idea/
*.ipr
*.iws
