# THT App

DirectoryIndex index.html index.php thtApp.php
Options -Indexes

# Redirect all non-static URLs to THT app
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule  ^(.*)$ /thtApp.php [QSA,NC,L]

# Uncomment to redirect to HTTPS
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Compression
<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
	    AddOutputFilterByType DEFLATE 
		  "application/javascript" \
		  "application/json" \
		  "text/css" \
		  "text/html" \
		  "text/javascript" \
	</IfModule>
</IfModule>

