

/* Variables
---------------------------------------------------------*/

:root {
    --headerColor: #ddd;
}


/* App Styles
---------------------------------------------------------*/

main {
    max-width: 768px;
}

header {
    padding: 1rem 2rem;
    background-color: var(--headerColor);
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #333;
}

footer {
    text-align: center;
    border-top: solid 1px var(--headerColor);
    margin-top: 6rem;
    padding: 2rem;
}

body {
    font-size: 2rem;
    color: #222;
}

h1 {
    color: #394;
}

.subline {
    width: 100%;
    font-size: 2.5rem;
    color: #394;
    margin-bottom: 4rem;
    margin-top: -3rem;
    border-bottom: solid 1px #d6d6e6;
    padding-bottom: 2rem;
}

code {
    font-weight: bold;
}


/* Mobile Overrides
---------------------------------------------------------*/

@media screen and (max-width: 768px) {

    .myClass {
        width: 100%;
    }

}
